*{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(images/banner/banner1.png);
    height:800px;
    width: 1600px;}
   .content{
    position: absolute;
    height: 228px;
    width: 525px;
    left: 845px;
    top: 216px;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 700px; 
    text-align: center;
    color:black;
   }
   .paragraph{
    position: absolute;
    left: 845px;
    top: 372px;
width: 494px;
height: 78px;
text-align: center;
   }
   .btn{
position: absolute;
left: 1050px ;
top: 450px;
padding: 18px 21px;
background-color: #f15b22;
border: none;
border-radius: 2px;
color: white;}
    
 .section2{
    display: flex;
    align-items: center;
 }
 .failure{
    position: absolute;
    top:1100px;
    left: 800px;
    text-align: left;
    padding-bottom: 20px;
    height: 94px;
    font-weight: 700px;
    
 }
 .paragraph2{
    position: absolute;
    top:1178px;
    left: 800px;;
    text-align: left;
    font-family: sans-serif;
    font-weight: 100px;
 }
 
   .header6{ position: absolute;
    top:1250px;
    left: 800px;;
    text-align: left;
    font-family: sans-serif;
    font-weight: 100px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100px;

   }
   